@{
    ViewData["Title"] = "Home Page";
}
@using POC.Models;
@model List<Item>
    <div class="form-group">
       
        <input type="text" placeholder="Search" class="form-control" id="usr">
    </div>
<table class="blueTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>PPU</th>
            <th>Batters</th>
            <th>Topping</th>

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
        <tr>
            <td>@item.Id</td>
            <td>@item.Type</td>
            <td>@item.Name</td>
            <td>@item.Ppu</td>
            


            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int b = 0; b < item.Batters.Batter.Count; b++)
                        {
                            var batter = item.Batters.Batter[b];
                            <tr>
                                <td>@batter.Id</td>
                                <td>@batter.Type</td>

                            </tr>
                            }
                        </tbody>
                </table>
            </td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int t = 0; t < item.Topping.Count; t++)
                        {
                            var topping = item.Topping[t];
                            <tr>
                                <td>@topping.Id</td>
                                <td>@topping.Type</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        }


    </tbody>
</table>
<style>
    table.blueTable {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        table.blueTable td, table.blueTable th {
            border: 1px solid #AAAAAA;
            padding: 3px 2px;
        }

        table.blueTable tbody td {
            font-size: 13px;
        }

        table.blueTable tr:nth-child(even) {
            background: #D0E4F5;
        }

        table.blueTable thead {
            background: #1C6EA4;
            background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            border-bottom: 2px solid #444444;
        }

            table.blueTable thead th {
                font-size: 15px;
                font-weight: bold;
                color: #FFFFFF;
                border-left: 2px solid #D0E4F5;
            }

                table.blueTable thead th:first-child {
                    border-left: none;
                }

        table.blueTable tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            background: #D0E4F5;
            background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            border-top: 2px solid #444444;
        }

            table.blueTable tfoot td {
                font-size: 14px;
            }

            table.blueTable tfoot .links {
                text-align: right;
            }

                table.blueTable tfoot .links a {
                    display: inline-block;
                    background: #1C6EA4;
                    color: #FFFFFF;
                    padding: 2px 8px;
                    border-radius: 5px;
                }

    table {
        width: 100%;
    }
    td {
        vertical-align: top;
    }
</style>